In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
from google.colab import drive

# Import our input dataset
drive.mount('/content/gdrive')
attrition_df = pd.read_csv('gdrive/My Drive/HR-Employee-Attrition.csv')
attrition_df.head()

Mounted at /content/gdrive

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [2]:
# Generate our categorical variable list
attrition_cat = attrition_df.dtypes[attrition_df.dtypes == "object"].index.tolist()

In [3]:
# Check the number of unique values in each column
attrition_df[attrition_cat].nunique()

Attrition         2
BusinessTravel    3
Department        3
EducationField    6
Gender            2
JobRole           9
MaritalStatus     3
Over18            1
OverTime          2
dtype: int64

In [4]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(attrition_df[attrition_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(attrition_cat)
encode_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [5]:
# Merge one-hot encoded features and drop the originals
attrition_df = attrition_df.merge(encode_df,left_index=True, right_index=True)
attrition_df = attrition_df.drop(attrition_cat,1)
attrition_df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [6]:
# Split our preprocessed data into our features and target arrays
y = attrition_df["Attrition_Yes"].values
X = attrition_df.drop(["Attrition_Yes","Attrition_No"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [7]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [8]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 448

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 499
Trainable params: 499
Non-trainable params: 0
_________________________________________________________________

In [9]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [10]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=100)

Epoch 1/100
35/35 [==============================] - 1s 2ms/step - loss: 289.2473 - accuracy: 0.8230
Epoch 2/100
35/35 [==============================] - 0s 2ms/step - loss: 78.0633 - accuracy: 0.6915
Epoch 3/100
35/35 [==============================] - 0s 2ms/step - loss: 52.1380 - accuracy: 0.7105
Epoch 4/100
35/35 [==============================] - 0s 2ms/step - loss: 39.5089 - accuracy: 0.7341
Epoch 5/100
35/35 [==============================] - 0s 2ms/step - loss: 25.4610 - accuracy: 0.7495
Epoch 6/100
35/35 [==============================] - 0s 2ms/step - loss: 15.7649 - accuracy: 0.7296
Epoch 7/100
35/35 [==============================] - 0s 2ms/step - loss: 8.9233 - accuracy: 0.7459
Epoch 8/100
35/35 [==============================] - 0s 2ms/step - loss: 13.0381 - accuracy: 0.7514
Epoch 9/100
35/35 [==============================] - 0s 2ms/step - loss: 8.1243 - accuracy: 0.7269
Epoch 10/100
35/35 [==============================] - 0s 2ms/step - loss: 6.5314 - accuracy: 0.7577
Epoch 11/100
35/35 [==============================] - 0s 2ms/step - loss: 7.3669 - accuracy: 0.7405
Epoch 12/100
35/35 [==============================] - 0s 2ms/step - loss: 6.5780 - accuracy: 0.7495
Epoch 13/100
35/35 [==============================] - 0s 2ms/step - loss: 5.8275 - accuracy: 0.7305
Epoch 14/100
35/35 [==============================] - 0s 2ms/step - loss: 4.4294 - accuracy: 0.7559
Epoch 15/100
35/35 [==============================] - 0s 2ms/step - loss: 4.3054 - accuracy: 0.7414
Epoch 16/100
35/35 [==============================] - 0s 2ms/step - loss: 3.3156 - accuracy: 0.7595
Epoch 17/100
35/35 [==============================] - 0s 2ms/step - loss: 4.5237 - accuracy: 0.7368
Epoch 18/100
35/35 [==============================] - 0s 2ms/step - loss: 7.3752 - accuracy: 0.7296
Epoch 19/100
35/35 [==============================] - 0s 2ms/step - loss: 6.1810 - accuracy: 0.7396
Epoch 20/100
35/35 [==============================] - 0s 2ms/step - loss: 4.8750 - accuracy: 0.7468
Epoch 21/100
35/35 [==============================] - 0s 2ms/step - loss: 5.5303 - accuracy: 0.7441
Epoch 22/100
35/35 [==============================] - 0s 2ms/step - loss: 7.9839 - accuracy: 0.7423
Epoch 23/100
35/35 [==============================] - 0s 2ms/step - loss: 3.4729 - accuracy: 0.7523
Epoch 24/100
35/35 [==============================] - 0s 2ms/step - loss: 2.7294 - accuracy: 0.7577
Epoch 25/100
35/35 [==============================] - 0s 2ms/step - loss: 2.7932 - accuracy: 0.7786
Epoch 26/100
35/35 [==============================] - 0s 2ms/step - loss: 4.1395 - accuracy: 0.7486
Epoch 27/100
35/35 [==============================] - 0s 2ms/step - loss: 4.3589 - accuracy: 0.7450
Epoch 28/100
35/35 [==============================] - 0s 2ms/step - loss: 3.9896 - accuracy: 0.7377
Epoch 29/100
35/35 [==============================] - 0s 2ms/step - loss: 4.1403 - accuracy: 0.7468
Epoch 30/100
35/35 [==============================] - 0s 2ms/step - loss: 2.4715 - accuracy: 0.7595
Epoch 31/100
35/35 [==============================] - 0s 2ms/step - loss: 4.0702 - accuracy: 0.7632
Epoch 32/100
35/35 [==============================] - 0s 2ms/step - loss: 2.2468 - accuracy: 0.7813
Epoch 33/100
35/35 [==============================] - 0s 2ms/step - loss: 2.7197 - accuracy: 0.7659
Epoch 34/100
35/35 [==============================] - 0s 2ms/step - loss: 7.4106 - accuracy: 0.7405
Epoch 35/100
35/35 [==============================] - 0s 2ms/step - loss: 3.9960 - accuracy: 0.7541
Epoch 36/100
35/35 [==============================] - 0s 2ms/step - loss: 5.0161 - accuracy: 0.7495
Epoch 37/100
35/35 [==============================] - 0s 2ms/step - loss: 1.7790 - accuracy: 0.7868
Epoch 38/100
35/35 [==============================] - 0s 2ms/step - loss: 5.1614 - accuracy: 0.7641
Epoch 39/100
35/35 [==============================] - 0s 2ms/step - loss: 1.9601 - accuracy: 0.7731
Epoch 40/100
35/35 [==============================] - 0s 2ms/step - loss: 2.0977 - accuracy: 0.7858
Epoch 41/100
35/35 [==============================] - 0s 2ms/step - loss: 2.4826 - accuracy: 0.7695
Epoch 42/100
35/35 [==============================] - 0s 2ms/step - loss: 5.8793 - accuracy: 0.7450
Epoch 43/100
35/35 [==============================] - 0s 2ms/step - loss: 4.2581 - accuracy: 0.7396
Epoch 44/100
35/35 [==============================] - 0s 2ms/step - loss: 4.9672 - accuracy: 0.7432
Epoch 45/100
35/35 [==============================] - 0s 2ms/step - loss: 2.4456 - accuracy: 0.7822
Epoch 46/100
35/35 [==============================] - 0s 2ms/step - loss: 2.1587 - accuracy: 0.7623
Epoch 47/100
35/35 [==============================] - 0s 2ms/step - loss: 7.4050 - accuracy: 0.7423
Epoch 48/100
35/35 [==============================] - 0s 2ms/step - loss: 5.5225 - accuracy: 0.7505
Epoch 49/100
35/35 [==============================] - 0s 2ms/step - loss: 3.5741 - accuracy: 0.7559
Epoch 50/100
35/35 [==============================] - 0s 2ms/step - loss: 2.6398 - accuracy: 0.7668
Epoch 51/100
35/35 [==============================] - 0s 2ms/step - loss: 8.2577 - accuracy: 0.7505
Epoch 52/100
35/35 [==============================] - 0s 2ms/step - loss: 7.3172 - accuracy: 0.7405
Epoch 53/100
35/35 [==============================] - 0s 2ms/step - loss: 3.4679 - accuracy: 0.7577
Epoch 54/100
35/35 [==============================] - 0s 2ms/step - loss: 2.9295 - accuracy: 0.7632
Epoch 55/100
35/35 [==============================] - 0s 2ms/step - loss: 2.4571 - accuracy: 0.7795
Epoch 56/100
35/35 [==============================] - 0s 2ms/step - loss: 2.9874 - accuracy: 0.7840
Epoch 57/100
35/35 [==============================] - 0s 2ms/step - loss: 4.5747 - accuracy: 0.7459
Epoch 58/100
35/35 [==============================] - 0s 2ms/step - loss: 2.7174 - accuracy: 0.7777
Epoch 59/100
35/35 [==============================] - 0s 2ms/step - loss: 1.9800 - accuracy: 0.7904
Epoch 60/100
35/35 [==============================] - 0s 2ms/step - loss: 3.6610 - accuracy: 0.7541
Epoch 61/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1670 - accuracy: 0.7550
Epoch 62/100
35/35 [==============================] - 0s 2ms/step - loss: 2.4521 - accuracy: 0.7822
Epoch 63/100
35/35 [==============================] - 0s 2ms/step - loss: 1.7120 - accuracy: 0.7813
Epoch 64/100
35/35 [==============================] - 0s 2ms/step - loss: 3.8355 - accuracy: 0.7722
Epoch 65/100
35/35 [==============================] - 0s 2ms/step - loss: 3.2825 - accuracy: 0.7659
Epoch 66/100
35/35 [==============================] - 0s 2ms/step - loss: 1.4444 - accuracy: 0.7995
Epoch 67/100
35/35 [==============================] - 0s 2ms/step - loss: 2.5607 - accuracy: 0.7895
Epoch 68/100
35/35 [==============================] - 0s 2ms/step - loss: 1.7855 - accuracy: 0.7858
Epoch 69/100
35/35 [==============================] - 0s 2ms/step - loss: 2.6002 - accuracy: 0.7613
Epoch 70/100
35/35 [==============================] - 0s 2ms/step - loss: 4.6580 - accuracy: 0.7677
Epoch 71/100
35/35 [==============================] - 0s 2ms/step - loss: 3.6550 - accuracy: 0.7659
Epoch 72/100
35/35 [==============================] - 0s 2ms/step - loss: 2.4437 - accuracy: 0.7650
Epoch 73/100
35/35 [==============================] - 0s 2ms/step - loss: 2.1857 - accuracy: 0.7949
Epoch 74/100
35/35 [==============================] - 0s 2ms/step - loss: 4.9385 - accuracy: 0.7559
Epoch 75/100
35/35 [==============================] - 0s 2ms/step - loss: 2.3457 - accuracy: 0.7822
Epoch 76/100
35/35 [==============================] - 0s 2ms/step - loss: 2.5070 - accuracy: 0.7795
Epoch 77/100
35/35 [==============================] - 0s 2ms/step - loss: 3.3768 - accuracy: 0.7759
Epoch 78/100
35/35 [==============================] - 0s 2ms/step - loss: 2.5246 - accuracy: 0.7704
Epoch 79/100
35/35 [==============================] - 0s 2ms/step - loss: 4.4437 - accuracy: 0.7613
Epoch 80/100
35/35 [==============================] - 0s 2ms/step - loss: 1.4123 - accuracy: 0.7995
Epoch 81/100
35/35 [==============================] - 0s 2ms/step - loss: 1.4913 - accuracy: 0.7877
Epoch 82/100
35/35 [==============================] - 0s 2ms/step - loss: 1.9080 - accuracy: 0.7858
Epoch 83/100
35/35 [==============================] - 0s 2ms/step - loss: 2.0045 - accuracy: 0.7940
Epoch 84/100
35/35 [==============================] - 0s 2ms/step - loss: 2.4838 - accuracy: 0.7632
Epoch 85/100
35/35 [==============================] - 0s 2ms/step - loss: 2.0079 - accuracy: 0.7831
Epoch 86/100
35/35 [==============================] - 0s 2ms/step - loss: 2.1084 - accuracy: 0.7858
Epoch 87/100
35/35 [==============================] - 0s 2ms/step - loss: 3.0805 - accuracy: 0.7686
Epoch 88/100
35/35 [==============================] - 0s 2ms/step - loss: 1.3423 - accuracy: 0.8067
Epoch 89/100
35/35 [==============================] - 0s 2ms/step - loss: 2.1433 - accuracy: 0.7786
Epoch 90/100
35/35 [==============================] - 0s 2ms/step - loss: 1.6938 - accuracy: 0.7877
Epoch 91/100
35/35 [==============================] - 0s 2ms/step - loss: 1.5980 - accuracy: 0.7976
Epoch 92/100
35/35 [==============================] - 0s 2ms/step - loss: 1.6287 - accuracy: 0.7985
Epoch 93/100
35/35 [==============================] - 0s 2ms/step - loss: 1.3744 - accuracy: 0.8022
Epoch 94/100
35/35 [==============================] - 0s 2ms/step - loss: 4.9821 - accuracy: 0.7514
Epoch 95/100
35/35 [==============================] - 0s 2ms/step - loss: 2.1346 - accuracy: 0.7868
Epoch 96/100
35/35 [==============================] - 0s 2ms/step - loss: 6.3269 - accuracy: 0.7523
Epoch 97/100
35/35 [==============================] - 0s 2ms/step - loss: 6.8142 - accuracy: 0.7396
Epoch 98/100
35/35 [==============================] - 0s 2ms/step - loss: 7.3620 - accuracy: 0.7641
Epoch 99/100
35/35 [==============================] - 0s 2ms/step - loss: 3.7126 - accuracy: 0.7523
Epoch 100/100
35/35 [==============================] - 0s 2ms/step - loss: 4.3709 - accuracy: 0.7632

In [11]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

12/12 - 0s - loss: 1.5348 - accuracy: 0.8696 - 290ms/epoch - 24ms/step
Loss: 1.5347874164581299, Accuracy: 0.8695651888847351